Start all chats with 🤖

# Stack
- React
- NextJS
- TailwindCSS
- TypeScript
- Shadcn UI

# MISC
- Use the latest version of NextJS
- Use the latest version of Shadcn using shadcn@latest
- Use the latest version of TailwindCSS
- Use the latest version of TypeScript
- Use the latest version of React
